body {
    background-color: white;
    position: relative;
}

#editor {
    height: 100%;
    position: absolute;
  }

#create {
    top: 0;
    right: 0;
    width: 90%;
    float: right;
    height: 100%;
    position: absolute;
  }

  