html, body {
  margin:0 5 0 0;
  height:100%;
  background-color: white;
  position: relative;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
}

#editor {
    height: 100%;
    position: absolute;
 
  }

#create {
    top: 10px;
    right: 0;
    width: 60%;
    float: right;
    height: 100%;
    position: absolute;
  
  }

  