html, body {
  margin:0 1 0 0;
  height:100%;  
}

body {
  background-color: white;
  position: relative;
}

.CodeMirror {
  border: 1px solid #eee;
  height: 100%;
  font-size: 16px;
}

#editor {
    height: 100%;
    position: absolute;
 
  }

#create {
    top: 5px;
    right: 0;
    width: 80%;
    float: right;
    height: 100%;
    position: absolute;
  
  }

  